.header-container {
    position: relative;
    height: 90vh;
}
.header-wraper {
    background-size: cover;
    background-position: center;
    filter: hue-rotate(45deg);
    height: 100%;
    width: 100%;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-info h1 {
    color: #f9ab00;
    text-transform: uppercase;
    
}

.main-info p {
    color: #f9ab00;
    text-transform: uppercase;
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: large;
}

.typed-text {
    font-size: 2rem;
    color: white;
    margin-bottom: 39px;
}

.btn-main-offer {
    color: white;
    border: 2px solid #f9ab00;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    margin: 2rem;
}

.btn-main-offer:hover {
    color: #b0b0b0 !important;
  }

.overlay {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.8 );
}

#tsparticles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width:768px) {
    .particles-canvas {
        display: none;
    }

    .typed-text {
        font-size: 2rem;
        color: white;
        margin-bottom: 39px;
    }

    .main-info a1 {
        color: #f9ab00;
        text-transform: uppercase;
        font-size: x-large;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .main-info h1 {
        color: #f9ab00;
        text-transform: uppercase;
        font-size: xx-large;
    }
}

@media(max-width:375px) {
    .main-info h1 {
        color: #f9ab00;
        text-transform: uppercase;
        font-size: x-large;
    }

    .main-info a1 {
        color: #f9ab00;
        text-transform: uppercase;
        font-size: large;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .typed-text {
        font-size: 1.9rem;
        color: white;
        margin-bottom: 39px;
    }
}